body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #153448;
  }
  
  input, button {
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 20px;
    color: #DFD0B8;
  }

.header{
    background-color: #3C5B6F;
    width: 100%;
    height: 70px;
    text-align: center;
}
  


button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  button:hover {
    background: #c4e201;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }

p{
    color: #DFD0B8;
}

.flex{
    display: flex;
    
}